




.fj채llr채ven2 {

    display: flex; 
    margin:auto; 
    max-width: 800px;
    height: auto;
  
}

@media all and (max-width: 1000px) { 
.fj채llr채ven2 { 

    max-width: 100%;

} 
} 


.rubrik4 {
color: azure;
font-size: 30px;
font-style: italic;
text-align: center;

}