.rubrik {
    color: azure;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    
    }

 .container {
    display: flex;
    background-color: #c58716;
    padding: 20px;
    margin: auto;
    width: 800px;
    height: 400px;

    
 }   

 .contactinformation {
    display: flex;
    color: black;
    font-size: 20px;
    width: 300px;
    text-align:center;
    align-items: center;
    margin: 50px;
   
    
    
 }

 .Inforutor { 

    display: flex;
    flex-direction: column;
   
   
 }

 .Inforutor input {

    display: flex;
    min-width: 300px;
    height: 40px;
    margin: 6px;
    margin-left: 100px;
    
 }



    .Inforutor textarea {
        display: flex;
      height: 50px;
      margin: 6px;
      margin-left: 100px;
     


    }


    .button1 {
        display: flex;
        justify-content: center;
        margin-top: 3px 3px;
        background-color: rgba(0, 136, 169, 1);
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
        

    }

    .button1:hover {
        background-color: rgba(0, 136, 169, 0.8);
    }

