* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #24252a;
}

li, a, button {

    font-weight: 500;
    font-size: 16px;
    color: azure;

}

header { 

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;


}

.logo {
cursor: pointer;
margin-right: auto;
color: azure;

}

.nav_links {

    list-style: none;
}

.nav_links li {

    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {

  transition: all 0.3s ease;
}

.nav_links li a:hover {

    color: cadetblue;
  }

.button:active {

    background-color: #003f7f; /* En mörkare nyans när knappen klickas på */
    
      }

button {
    
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;

}



button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}



.fjällräven {

    display: block; 
    margin:auto; 
    width: 800px;
    height: auto;
  
}

.rubrik {
color: azure;
font-size: 30px;
font-style: italic;
text-align: center;

}