

.container-fjällräven {
    display: flex;
   float: right;

  

}

/*  Jag får tyvärr inte detta att fungera får släppa det tills nästa vecka... 

@media only screen and (max-width: 500px) { 
    .container-fjällräven {  display: none;} 
}

*/ 

.container-fjällräven img   {
    display: flex;
    max-width: 800px;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 100px;
    padding: 30px;


}





.container-Home .howIam {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
text-align: center;
display: block;
color: aliceblue;
font-size: 50px;
margin-top: 200px;


}


/* 
@media (max-with:800px) {

    .howIam {

        display:block; 

    }
}
*/ 


.container-Home .whatIam {

display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
text-align: center;
display: block;
color: aliceblue;
font-size: 30px;


}

