

.fjällräven {

    float: right;
    width: 800px;
    height: auto;
    margin-right: 50px;
  
}


.howIam {

color: aliceblue;
font-size: 50px;
position: absolute;
text-align: center;
top: 30%;
left: 10%;
 
}

.whatIam {

    color: aliceblue;
font-size: 30px;
position: absolute;
text-align: center;
top: 62%;
left: 6%;
}