


.fjällräven3 {

    display: flex; 
    margin:auto; 
    max-width: 800px;
    height: auto;
  
}

@media all and (max-width: 1000px) { 
.fjällräven3 { 

    max-width: 100%;

} 
} 


.rubrik3 {
    color: azure;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    
    }


