


.fjällräven {

    display: block; 
    margin:auto; 
    width: 800px;
    height: auto;
  
}

.rubrik3 {
    color: azure;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    
    }

