.rubrik2 {
    color: azure;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    
    }


    .flexbox-container {
        display: flex; /* startar flex */ 
        justify-content: center; /* justify-content: center;  Flyttar flex-boxen horisontellt på X axeln */ 
        
       /*  Flex-wrap: wrap; Gör så objekten inte ändrar storlek när skärmen blir mindre */ 
       /* justify-content: center;  Flyttar flex-boxen horisontellt på X axeln */ 
       /* align-items: stretch;  Flyttar flex-boxen vertikalt på Y axeln */ 
       /* align-content: center; Används enbart på multi line flexbox */ 
      
   }
   
   .flexbox-item {
    display: block;
       width: 300px;
       min-height: 600px;
       max-height: 600px;
       margin: 10px;
       border: 3px solid #333;
       background-color: #dfdfdf;

    }
